VOLTMEM_API_KEY=dev-secret
VOLTMEM_DB_PATH=./voltmem_sidecar.db
VOLTMEM_EMBEDDINGS=0
VOLTMEM_MAINTENANCE=1
# VOLTMEM_MAINTENANCE_CHECK_INTERVAL=60
# VOLTMEM_EXPIRE_INTERVAL=3600
# VOLTMEM_PATTERN_AUDIT_INTERVAL=3600
# VOLTMEM_RECLASSIFY_INTERVAL=86400
PORT=8080
